#pop-up {
    z-index: 5050;
}
#portfolio .port-item {
    border-radius: 0.6rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#portfolio .port-overlay {
    position: absolute;
    inset: 0;
    transition: 0.3s;
    opacity: 0;
}
#portfolio .port-item:hover .port-overlay {
    opacity: 0.8;
}
.border-r-5rem {
    border-radius: 0.5rem;
    overflow: hidden;
}
#portfolio .close-popUp {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}
#portfolio .close-popUp:hover {
    opacity: 1;
}
#portfolio #pop-up.hide {
    transition-delay: .3s;
    transform: scale(0);
}
#portfolio #pop-up.show {
    transform: scale(1);
}
#portfolio #pop-up.hide .container > div {
    animation: hide-popUp 0.3s linear 1 forwards;
}
#portfolio #pop-up.show .container > div {
    animation: show-popUp 0.3s linear 1 forwards;
}

@keyframes hide-popUp {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    50% {
        opacity: 0.7;
        transform: translateY(-40px);
    }
    95% {
        opacity: 0.5;
        transform: translateY(-70px);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes show-popUp {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(1);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-25px) scale(1);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
